<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body class="container">    
    <div id="app">
        <h3>{{titulo}}</h3>
        <input type="text" class="form-control my-3" v-model="nuevaTarea" @keyup.enter="agregarTarea()">
        <button class="btn btn-primary" @click="agregarTarea()">Agregar</button>
        <button class="btn btn-danger" @click="limpiarTareas()">Eliminar Lista</button>

        <div class="mt-3" v-for="(item, index) in tareas" >
            <div role="alert" :class="['alert',item.estado  ? 'alert-success' : 'alert-danger']">
                <div class="d-flex justify-content-between aling-item-center">
                    <div>
                        {{index}} - {{item.nombre}} - {{item.estado}}
                    </div>
                    <div>
                        <button class="btn btn-success btn-sm" @click="editarTarea(index)">Modificar</button>
                        <button class="btn btn-danger btn-sm" @click="eliminarTarea(index)">X</button>
                    </div>
                </div>
              </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
              titulo: 'Crud con localStorage',
              nuevaTarea:'',
              tareas:[]
            },
            methods:{
                agregarTarea(){
                    this.tareas.push({
                        nombre: this.nuevaTarea,
                        estado: false
                    })
                    this.nuevaTarea = ''
                    localStorage.setItem('base',JSON.stringify(this.tareas))
                },
                limpiarTareas(){
                    this.tareas = []
                    localStorage.setItem('base',JSON.stringify(this.tareas))
                    
                },
                editarTarea(index){
                    this.tareas[index].estado = !this.tareas[index].estado
                    localStorage.setItem('base',JSON.stringify(this.tareas))
                },
                eliminarTarea(index){
                    this.tareas.splice(index,1)
                    localStorage.setItem('base',JSON.stringify(this.tareas))
                    console.log("eliminar");
                },
            },
            created(){
                let datosLS  = JSON.parse(localStorage.getItem('base'))
                if(datosLS === null ){
                    this.tareas = []
                }else{
                    this.tareas = datosLS
                }
            }

          })
    </script>

  </body>
</html>